<% if current_user.id == 1 %>
  <h1>New Song</h1>

  <%= render 'form', song: @song %>

  <p>id:</p>
  <p>1. Mayday Parade</p>
  <p>2. You Me At Six</p>
  <p>3. Paramore</p>
  <p>4. X Ambassadors</p>
  <p>5. Boyz II Men</p>

  <%= link_to 'Back', songs_path %>
<% else %>
  <%= render file: "#{Rails.root}/public/422", status: :in_development %>
<% end %>
