<% if current_user.id == 1 %>
  <h1>New Band</h1>

  <%= render 'form', band: @band %>

  <%= link_to 'Back', bands_path %>
<% else %>
  <%= render file: "#{Rails.root}/public/422", status: :in_development %>
<% end %>
